body {
  background-color: #000000;
}
h1, h2, h3, a, li, p {
  color: #00ff00;
  font-family: "Open Sans Condensed";
}
#head {
  margin-left: 40px;
  margin-bottom: 30px;
}
#list {
  margin-left: 30px;
}
#change-theme {
  float: right;
  margin-right: 30px;
}
li {
  list-style-type: none;
  font-size: 200%;
}
a:hover, hr {
  color: #ffffff;
}
a {
  text-decoration: none;
}
h1 {
  font-size: 275%;
  text-decoration: underline;
}
@media (max-width: 600px) {
    #change-theme {
        font-size: large;
    }
}